@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    opacity: 0.7;
}
.container{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
    padding: 20px;
}
.container .card{
    width: 100%;
    background: #fff;
}
.container .card .imgbx{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}
.action{
    position: absolute;
    top: 10px;
    right: 10px;
}
.action li{
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    background: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transition: tranform 0.5s;
    transform: translateX(60px);

}
.action li:nth-child(2){
    transition-delay: 0.15s;
}
.action li:nth-child(3){
    transition-delay: 0.3s;
}
.action li:nth-child(4){
    transition-delay: 0.45s;
}
.container .card:hover .action li{
    transform: translateX(0);


}
.action li:hover{
    background: #ff2020;
    color: #fff;
}
.action li span{
    position:absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    padding: 4px 60px;
    background: #fff;
    color: #333;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}
.action li:hover span{
    transform: translateY(-50%) translateX(0);
    opacity: 1;

}
.container .card .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 124%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin: center;
}
.container .card:hover .imgbx img{
    transform: scale(1.5);
}
.container .card .content{
    padding: 10px;
}
.container .card .content .productname h3{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 5px 0;
}

.container .card .content .price-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .card .content .price-rating h2{
    font-size: 20px;
    color: #ff2020;
    font-weight: 500;
}
.container .card .content .price-rating .fa{
    color: #ffd513;
    cursor: pointer;

}
.container .card .content .price-rating .fa.gray{
    color: #ccc;
}